---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import MartaHero from "~/assets/images/martahero.png";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/pexels-shvetsa-5953523.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
import Clase from "~/assets/images/7técnicasenergéticas.png";
import Servicio from "~/assets/images/Servicios.png";
import Blog from "~/assets/images/Blog.png";
import Acupuntura from "~/assets/images/1acupuntura.png";
import Tuina from "~/assets/images/2tuina.png";
import Moxa from "~/assets/images/3moxa.png";
import Fito from "~/assets/images/4fitodieto.png";
import Ventosas from "~/assets/images/5ventosas.png";
import Qigong from "~/assets/images/6qigong.png";
import KSP from "~/assets/images/8correcciónpostural.png";

---

<Layout title="Home" pageTitle="Home" description="Bienvenido a la página de Medicina tradicional China de Marta!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Marta Pulido MTC" />
				<h1 class="font-black">Medicina Tradicional China y mucho más...</h1>

				<p>
					Con más de diez años de experiencia en el ámbito de la Medicina Tradicional China, 
					enseñanza de Qi Gong, corrección postural acupuntura, tuina, moxibustión, dieto terapia, 
					fito terapia...
				</p>

				<!-- <span class="text-brand-green font-medium">✔ We also deliver</span>-->

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Reservas</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={MartaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="Logotipo redondeado en color verde que representa una persona sentada."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={DecorativeImage} alt="Imagen en blanco y negro del rostro de la profesora Marta Pulido" class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Sobre mi</h2>
			<p slot="heading-content">
				Todo empezó cuando en el 2005 cayó en mis manos un libro que hablaba sobre las energías… Me fascinó tanto que empecé a interesarme por ellas. Así es que en 2006 hice un curso de Reiki Profesional, 
				y gracias a la práctica constante durante unos años… decidí cursar Medicina Tradicional China en la ESMTC de Barcelona. Al finalizar mis estudios me formé como instructora de Qi Gong terapéutico, 
				en el método Nei Yang Gong para la Salud y el método Nu Zi Gong (Qi Gong para la mujer donde prevenir problemas ginecológicos). 
				Continué formándome Qi Gong y automasaje Tuina, donde aprendí entre otros sistemas los 8 brocados, los 5 animales, los 6 sonidos curativos… y automasajes para la salud.				
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Clase}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black text-brand-blue"> Clases</h3>
					<p>
						Clases de Qi Gong y corrección postural KSP, para mejorar la conciencia corporal, reducir estrés y dolor, 
						aumentar flexibilidad, equilibrio y energía vital, fortaleciendo cuerpo y mente.
					</p>

					<div class="mt-8 flex items-center gap-x-8">
					<Button color="blue" url="/book">Ver Clases</Button>
					</div>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Servicio}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black text-brand-purple"> Servicios</h3>
					<p>
						Sesiones de Acupuntura, Tuina, Moxibustión, Dieto-Fito terapia, Cupping y terapias energéticas, para 
						reducir estrés y ansiedad y fortalecer tu sistema inmune.
					</p>

					<div class="mt-8 flex items-center gap-x-8">
					<Button color="purple" url="/book">Ver Servicios</Button>
					</div>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Blog}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black text-brand-red"> Blog y archivos</h3>
					<p>
						Accede a mi blog y podrás leer y descargar archivos sobre las diferentes terapias y servicios que ofrezco, 
						así como artículos que considero de interés para la tu salud.
					</p>

					<div class="mt-8 flex items-center gap-x-8">
					<Button color="red" url="/book">Ver Blog</Button>
					</div>
				</div>
			</div>
		</Grid>
	</Section>

	<!--<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="font-black">Pizza</h1>

				<p>
					Pizza is a beloved dish that originated in Italy and has since become a global sensation. Its
					versatility allows for endless combinations of toppings, from classic margherita with fresh
					tomatoes, mozzarella, and basil, to more adventurous options like barbecue chicken or vegan cheese.
				</p>

				<p>
					Whether enjoyed at a cozy pizzeria or delivered to your doorstep, pizza brings people together and
					satisfies cravings like no other food. Beyond its delicious taste, pizza also holds cultural
					significance. It is often associated with gatherings, celebrations, and comfort.
				</p>

				<div class="mt-8">
					<Button url="/menu">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						View menu
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="purple" title="delicious" />
				<h2 class="font-black h2 !my-4">Plate of the week</h2>

				<span class="text-brand-purple text-2xl font-bold italic">Fresh Mussels!</span>

				<p>
					Our plate of the week is a delicious dish that changes every week. This week, we're featuring fresh
					mussels cooked in a white wine and garlic sauce, served with a side of crispy fries. Don't miss out
					on this limited-time offer!
				</p>

				<div class="mt-8">
					<Button color="purple" url="/book">Book now</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Mussels}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	Reviews
	<Section class:list={"bg-brand-red/20 relative"}>
		<div class="py-16">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2">
					<div class="text-center not-prose">
						<Badge color="white" title="reviews" />
					</div>
					<h2 slot="heading-title" class="font-black h4 text-center mt-0 mb-4">What our customers say...</h2>
					<div slot="heading-content">
						<p class="text-center">
							Don't just take our word for it. Read what our customers have to say about their dining
							experience at our restaurant.
						</p>

						<ReviewSlider />
					</div>
				</div>

				<div slot="hero-content-right">
					<Picture src={reviewAuthors} alt="Review authors" class="w-full h-auto" />
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>-->

	<!-- Qi Gong -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge color="blue" title="Clases" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Qi Gong</h2>
				<div slot="heading-content">
					<p>
						El Qi Gong o Chi Kung es una práctica milenaria de origen chino que consiste en el cultivo y la práctica de la movilización consciente 
						de la energía por el interior del cuerpo. Se basa en suaves movimientos físicos, ejercicios respiratorios y concentración mental, y tiene 
						como objetivo fortalecer el organismo a nivel físico, mental y espiritual. Practicar Qi Gong generara numerosos beneficios para la salud, 
						como, por ejemplo: la reducción del estrés y la ansiedad, al promover la relajación y el equilibrio emocional, mejorar la digestión al 
						estimular el movimiento intestinal y reducir el estreñimiento, alivio del dolor en músculos y articulaciones...
					</p>

					<p>
						Horario de clases: Jueves a las 08:00h y Viernes a 19:15h.
					</p>

					<p>
						Dirección: Moofit–C/Comandante Benítez, 17–08028 BCN.
					</p>

					<div class="mt-8">
						<Button color="blue" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Qigong}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- KSP -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge color="blue" title="Clases" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Corrección Portural KSP</h2>
				<div slot="heading-content">
					<p>
						El Método K-Stretch ® Postural KSP es un método de Reeducación Postural que utiliza una hamaca especial 
						para realizar ejercicios de estiramiento y fortalecimiento muscular. Su objetivo principal es devolver 
						al cuerpo su funcionalidad y eficacia mediante el tratamiento de las cadenas musculares y fasciales. 
						Algunos de sus beneficios son: reequilibrar el tono muscular, mejorar la postura, mejorar la elasticidad 
						muscular y movilidad articular, reducir el dolor, mejorar la circulación y mejorar la condición física 
						en general.
					</p>

					<p>
						Horario de clases: Martes y Jueves a 9:00h, 18:30h y 19:30h.
					</p>

					<p>
						Dirección: Moofit–C/Comandante Benítez, 17–08028 BCN.
					</p>

					<div class="mt-8">
						<Button color="blue" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={KSP}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Acupuntura -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="purple" title="Servicios" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Acupuntura</h2>
				<div slot="heading-content">
					<p>
						Técnica de Medicina Tradicional China (MTC) que consiste en la introducción de agujas muy finas, 
						estériles y de un solo uso, en determinados puntos del cuerpo para aliviar dolores y prevenir o 
						sanar ciertas enfermedades y desequilibrios. Mejora el bienestar general. Para la MTC, la acupuntura 
						equilibra el flujo de energía o fuerza vital, conocida como «chi» o «qi», que fluye a través de canales 
						(meridianos) en el cuerpo. Al insertar agujas en puntos específicos en estos meridianos, el flujo de 
						energía se reequilibra.We're located in the heart of the city, just a stone's throw away from the main 
						square. Our	restaurant is the perfect place to enjoy a delicious meal with friends and family.
					</p>

					<!--<span class="text-brand-red font-medium">
						✔ We also do take-away, so you can enjoy your food at home
					</span>-->

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Acupuntura}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Tuina -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="purple" title="Servicios" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Tuina</h2>
				<div slot="heading-content">
					<p>
						Técnica de Medicina Tradicional China (MTC) que consiste en el uso de movimientos de masaje fuertes 
						y vigorosos y la acupresión. Los beneficios de esta técnica están por encima de la relajación muscular, 
						es decir, el Tuina tiene como objetivo central estimular la capacidad que tiene el cuerpo de recuperarse 
						por sí mismo. Consigue efectos en el exterior, para transportarlos a través del masaje al interior del 
						organismo. De esa manera, restablece el equilibrio físico, psicológico y energético del cuerpo.
					</p>

					<!--<span class="text-brand-red font-medium">
						✔ We also do take-away, so you can enjoy your food at home
					</span>-->

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Tuina}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Moxibustión -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="purple" title="Servicios" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Moxibustión</h2>
				<div slot="heading-content">
					<p>
						La moxibustión es una técnica de  Medicina Tradicional China (MTC) que consiste en aplicar calor 
						estimulando una serie de puntos o zonas del cuerpo. Esta técnica utiliza las hojas pulverizadas, 
						secas y trituradas de la planta Artemisia vulgaris a la que comúnmente se le da forma de cigarro 
						denominado moxa. El objetivo es generar un efecto que ayude a equilibrar el organismo gracias a los 
						estímulos producidos por el calor que penetra a través de los puntos y meridianos de acupuntura, 
						afectando así a nuestras funciones fisiológicas y órganos internos restableciendo el equilibrio del cuerpo.
					</p>

					<!--<span class="text-brand-red font-medium">
						✔ We also do take-away, so you can enjoy your food at home
					</span>-->

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Moxa}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Dieto-Fito terapia -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="purple" title="Servicios" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Dieto-Fito terapia</h2>
				<div slot="heading-content">
					<p>
						La Dietoterapia china es una técnica de MTC, que clasifica los alimentos de acuerdo a su naturaleza, 
						sabor, color… Consiste en aplicar la nutrición humana al tratamiento de una persona con el objetivo de 
						corregir o prevenir una enfermedad. Esta disciplina se enfoca en modificar la alimentación habitual para 
						responder a las necesidades de cada uno. 
						La Fitoterapia china es una técnica de MTC que utiliza hierbas y plantas medicinales para prevenir y tratar 
						enfermedades y mejorar la salud en general de la persona. En esta forma de tratamiento también se utilizan 
						ingredientes de mineral en la elaboración de sus fórmulas. 
					</p>

					<!--<span class="text-brand-red font-medium">
						✔ We also do take-away, so you can enjoy your food at home
					</span>-->

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Fito}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Cupping -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="purple" title="Servicios" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Cupping</h2>
				<div slot="heading-content">
					<p>
						La terapia con ventosas o cupping es una de las técnicas más utilizadas por la MTC, desde la 
						antigüedad. Es un método seguro, eficaz y de fácil manejo para cuidar la salud y prevenir 
						enfermedades. Las ventosas tradicionales son recipientes parecidos a ‘vasos de vidrio’, que 
						crean vacío sobre la piel. Las más utilizadas son de vidrio, plástico o silicona, actúan estimulando 
						la piel y los tejidos subcutáneos para activar la circulación de sangre y energía en los meridianos, 
						regeneran tejidos, deshacen adherencias internas, tienen acción analgésica y eliminan los factores 
						patógenos.
					</p>

					<!--<span class="text-brand-red font-medium">
						✔ We also do take-away, so you can enjoy your food at home
					</span>-->

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Ventosas}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>
</Layout>
